{
  "printWidth": 80,
  "tabWidth": 2,
  "arrowParens": "always",
  "trailingComma": "all",
  "endOfLine": "lf",
  "useTabs": false,
  "quoteProps": "consistent",
  "bracketSpacing": true,
  "proseWrap": "always",
  "htmlWhitespaceSensitivity": "css",
  "semi": true,
  "bracketSameLine": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "arrayBracketNewline": true
}
