.badge {
  font-size: 14px;
  line-height: 21px;
  border-radius: 2em;
  padding: 2px 7px;
  margin: 0 5px;
}

.red {
  background: rgb(215, 58, 74);
  color: #ffffff;
}

.blue {
  background: #0969da;
  color: #ffffff;
}